@charset "uft-8";

body{
    background-color: #FAFAC8;    
}

.backbutton{
    background: var(--tea-green);
    padding: 0.5rem 0.9rem;
    border-radius: 6px;
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    align-items: center;
}

p{
    font-size: 55px;
    text-align: center;
    color: #EA9010;
    font-style: normal;
    display: block;
}

.logo {
    display: flex;
    align-self: center;
    gap: 0.5rem;
  }

  .hero {
    background: 90BE6D;
    border-radius: 14px;
    padding: 2.5rem 2rem;
    text-align: center;
    box-shadow: 0 3px 10px var(--shadow);
    margin-bottom: 2.5rem;
  }

br{
    border: #90BE6D;
    border-style: solid;
}